body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    height: 70px;
    background: burlywood;
    box-sizing: border-box;
    padding-top: 10px;
    border: 1px solid black;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 5px 10px 20px  #424b42 inset;
    font-size: 50px;
}

h2 {
    margin: 0;
    font-size: 35px;
}

.users-list {
    background: #424b42;
    height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 0 25px 0;
    box-sizing: border-box;
}

.user {
    display: flex;
    width: 45vw;
    align-items: center;
    row-gap: 35px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 5px 10px 20px  burlywood inset;
}

.user button {
    width: 120px;
    height: 30px;
    background: burlywood;
    border-radius: 15px;
    box-shadow: 5px 10px 18px black;
}